@font-face {
	font-family: 'DIN';
	src: url('DINPro-Bold.eot');
	src: local('din'), local('din'),
		url('DINPro-Bold-1.eot') format('embedded-opentype'),
		url('DINPro-Bold.woff') format('woff'),
		url('DINPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
